.solution {
  height: 80px;
  width: 100%;
  font-size: 40px;
  margin: 5px;
border: 1px solid black;
}

.btn1{
  width:50%;
  background-color:red;
}
.btn2{
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: #ffb580    ;
}
p{
border: 1px solid black;
  font-size: 40px;
  margin: 5px;
}
textarea {
        overflow-y: scroll;
        height: 80px;
        width:100%;
        resize: none;

      }

.cbody {
  max-width: 80%;
  margin: auto;
}

.button {
  display: block;
  background-color: black;
}


div {
  text-align: center;
  padding: 8px;
  border: 1px solid black;
  
}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: gray   ;
}
.refresh{
  width: 100%;
}
